{erl_opts, [debug_info, maps_support]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.

{deps, [
    {aplib, ".*", {git, "https://github.com/toadmaninteractive/aplib", {branch, "main"}}},
    {igor, ".*", {git, "https://github.com/igorlang/igor-erlang", {branch, "main"}}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc", {branch, "master"}}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx", {branch, "old-master"}}}
]}.
